
/* ADD RESET */
*,
*:before,
*:after{
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}

body{
    font-family: 'Poppins';
    line-height: 1.5;
    padding: 0 40px;
}

h1{
    text-align: center;
    line-height: 1.3;
}

button:hover{
    background: #555;
}

ul{
    padding: 0;
}

li{
    list-style: none;
    background: #f4f4f4;
    margin-bottom: 5px;
    padding: 5px;
}