*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    user-select: none;  
}

.container{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 30px;

}

header{
    display: flex;
    align-items: flex-start;
    margin: 30px;
}

header img{
    height: 40px;
    width: 40px; 
}

header h1{
    padding-left: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 36px;
}


.item-form input {
    width: 40%;
    padding: 0px 20px;
    margin-left: 30px;
    margin-top: -10px; /* Move input closer to image from above */
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.2s;
}

.item-form input:focus {
    border-color: #90caf9;
}
.form-control{
    margin: 30px;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: flex-start;
    row-gap: 10px; /* Adds vertical gap between input and button */
    /* gap: 5px;  If you want both row and column gap, use gap: 10px 5px; */
}

.btn{
    padding: 7px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    margin-top: 5px;
    background-color: black;
}

.filter input{
    width: 40%;
    padding: 0px 20px;
    margin-left: 30px;
    margin-top: -10px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.2s;
}

.filter input:focus{
    border-color: #90caf9;
}

#item-list{
    list-style-type: none;
}

#item-list li{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    border: 1px solid #ccc;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    padding: 0px 20px;
    padding-right: 0px;
    font-weight: 600;
    width: 40%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.remove-item{
    background: none;
    border: none;
    font: inherit;
    color: red;
    cursor: pointer;
}

#clear{
    width: 40%;
    padding: 0px 20px;
    margin-left: 30px;
    margin-top: -10px;
    font-size: 1.5rem;
    font-weight: 200;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.2s;
}

.item-form input,
.filter input,
#clear,
#item-list li {
  width: 100%;
  max-width: 500px;
}

.form-control {
  width: 100%;
  max-width: 500px;
}

@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0;
  }

  header h1 {
    padding-left: 0;
    font-size: 2rem;
    line-height: 30px;
  }

  .item-form input,
  .filter input,
  #clear,
  #item-list li {
    width: 100%;
    margin-left: 0;
    font-size: 1.2rem;
  }

  .form-control {
    margin: 15px 0;
  }

  .btn {
    width: 100%;
  }
}
