body {
  background: #000;
  color: #fff;
}

html,
body {
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#ball {
  /* animation: roll infinite 3s linear; */
  color: white;
  width: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  transform: rotate(0) translate3D(-50%, -50%, 0);
  backface-visibility: hidden;
  will-change: transform, color;
}

path {
  fill: currentColor;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  background: #333;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: blue;
}


#card{
  display: inline-block;
  background-color: #333;
  margin: 2rem;
  padding: 1.2rem;
  border-radius: 5px;
  box-shadow: inset 0 0 0.5px 1px hsla(183, 98%, 50%, 0.456),
              /* shadow ring 👇 */
              0 0 0 1px hsla(188, 98%, 43%, 0.459),
              /* multiple soft shadows 👇 */
              0 0.3px 0.4px hsla(172, 100%, 51%, 0.39),
              0 0.9px 1.5px hsla(172, 94%, 49%, 0.51),
              0 3.5px 6px hsla(179, 100%, 50%, 0.09);
}

#card > div{
  font-size: 1.2rem;
}

#speed-display{
  color: green;
}

#direction-display{
  color: yellow;
}

@keyframes roll {
  0% {
    transform: rotate(0) translate3D(-50%, -50%, 0);
    color: white;
  }
  30% {
    color: blue;
  }
  100% {
    transform: rotate(360deg) translate3D(-50%, -50%, 0);
    color: white;
  }
}
